<!-- Material form login -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Sign in</strong>
    </h5>
  
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
  
      <!-- Form -->
      <form method="POST" class="text-left" style="color: #757575;" action="/adminLogin">
  
        <!-- Email -->
        <div class="md-form">
          <label for="adminEmail">E-mail</label>
          <input name="adminEmail" type="email" id="adminEmail" class="form-control">
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <label for="adminPassword">Password</label>
          <input ame="adminPassword" type="password" id="adminPassword" class="form-control">
        </div>
    
        <!-- Sign in button -->
        <input class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" value="Sign in">
  
        <div class="text-center">
          <!-- Forgot password -->
          <a href="/forgotPassword">Forgot password?</a>
        </div>
    
      </form>
      <!-- Form -->
  
    </div>
  
  </div>
  <!-- Material form login -->