<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Total Users</h4>
        <!--Text-->
        <p class="card-text">Numbers</p>  
      </div>
  
    </div>
    <!-- Card -->
  
      <!-- Card -->
      <div class="card mb-4">
  
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Active Users</h4>
          <!--Text-->
          <p class="card-text">Numbers</p>  
        </div>
    
      </div>
      <!-- Card -->


    <!-- Card -->
    <div class="card mb-4">
  
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">New Users</h4>
          <!--Text-->
          <p class="card-text">Numbers</p>  
        </div>
    
      </div>
      <!-- Card -->
  
  </div>
  <!-- Card deck -->