<%- include('./partials/header.partials.ejs'); %>
<!-- <%#- include('./partials/primary_header.partials.ejs'); %> -->

<div style="margin-top: 20%">
    <h1 style="font-size: 72px;" class="text-center">404</h1>
    <p class="text-muted text-center">Connection Error</p>
</div>

</body>
</html>