<%- include(`./partials/head.partials.ejs`)%>
<div class="row h-100" style="margin-top: 10vh;">
    <!-- will act as the password reset page. -->
    <div class="col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 my-auto">
        <%- include(`./partials/reset_password.partials.ejs`)%>
    </div>
</div>
<%- include(`./partials/footer.partials.ejs`)%>