<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Info Viewer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card" style="width: 100%; border: 0; box-shadow: none;">
            <img style="width: 80%; margin-left: 10%;" src="/img/gray.png" class="card-img-top" alt="gray background">
            <div class="card-body">
              <h3 class="">User Details</h3>
              <p id="book-title" class="text-bold"> 
                User Name
                <span class="float-right">Sedem</span>
              </p>
              <p id="author" class="card-text">
                Access Level
                <span class="float-right">3</span>
              </p>
              <h3 class="">Contact Information</h3>
              <p id="author" class="card-text">
                Email
                <span class="float-right">sedem.amekpewu.3@gmail.com</span>
              </p>
              <p id="author" class="card-text">
                Phone
                <span class="float-right">0546744163</span>
              </p>
              <h3 class="">Contribution Pool</h3>
              <div class="table-responsive">
                <table class="table table-striped">
                   <tbody>
                      <tr>
                        <td class="">#1</td>
                        <td class="text-center"></td>
                      </tr>

                      <tr>
                        <td class="">#2</td>
                        <td class="text-center"></td>
                      </tr>

                     <tr>
                        <td class="">#3</td>
                        <td class="text-center"></td>
                      </tr>

                      <tr>
                        <td class="">#4</td>
                        <td class="text-center"></td>
                      </tr>
                   </tbody>
                </table>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>