<ul class="nav md-pills nav-justified mb-3">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="/dashboard" role="tab">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="/bookList" role="tab">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="/adminList" role="tab">Admins</a>
    </li>
</ul>