<div class="content">
    <div class="container-fluid">
      <!-- buttons -->
      <%if(message != null){%>
        <div class="alert alert-success text-center" role="alert">
            <%= message %>
        </div>
      <%}%>
      <%-include(`./../admin/menu.partials.ejs`)%>
    </div>
    
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Admin List</h4>
              <p class="card-category"> Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Access Level
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        Dakota Rice
                      </td>
                      <td>
                        Niger
                      </td>
                      <td>
                        Oud-Turnhout
                      </td>
                      <td class="text-primary">
                        <button type="button" class="btn btn-sm btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons">visibility</i> view
                        </button>
                        <button class="btn btn-sm btn-danger btn-round">
                          <i class="material-icons">delete</i> suspend
                      </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        2
                      </td>
                      <td>
                        Minerva Hooper
                      </td>
                      <td>
                        Curaçao
                      </td>
                      <td>
                        Sinaai-Waas
                      </td>
                      <td class="text-primary">
                        <button type="button" class="btn btn-sm btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons">visibility</i> view
                        </button>
                        <button class="btn btn-sm btn-danger btn-round">
                          <i class="material-icons">delete</i> suspend
                      </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        3
                      </td>
                      <td>
                        Sage Rodriguez
                      </td>
                      <td>
                        Netherlands
                      </td>
                      <td>
                        Baileux
                      </td>
                      <td class="text-primary">
                        <button type="button" class="btn btn-sm btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons">visibility</i> view
                        </button>
                        <button class="btn btn-sm btn-danger btn-round">
                          <i class="material-icons">delete</i> suspend
                      </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        4
                      </td>
                      <td>
                        Philip Chaney
                      </td>
                      <td>
                        Korea, South
                      </td>
                      <td>
                        Overland Park
                      </td>
                      <td class="text-primary">
                        <button type="button" class="btn btn-sm btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons">visibility</i> view
                        </button>
                        <button class="btn btn-sm btn-danger btn-round">
                          <i class="material-icons">delete</i> suspend
                      </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        5
                      </td>
                      <td>
                        Doris Greene
                      </td>
                      <td>
                        Malawi
                      </td>
                      <td>
                        Feldkirchen in Kärnten
                      </td>
                      <td class="text-primary">
                        <button type="button" class="btn btn-sm btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons">visibility</i> view
                        </button>
                        <button class="btn btn-sm btn-danger btn-round">
                          <i class="material-icons">delete</i> suspend
                      </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include(`./../modal/modal.partials.ejs`)%>