<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#newAdmin">New Admin</button>
        <div class="modal fade bd-example-modal-lg" id="newAdmin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" method="POST" action="/registerAdmin">
                            <h3 class="text-center">Create admin account</h3>
                            <p class="description text-center"></p>
                            <div class="card-body">
    
                                <div class="form-group bmd-form-group">
                                      <label for="adminName">Name</label>
                                      <input name="adminName" type="text" class="form-control">
                                </div>
    
                                <div class="form-group bmd-form-group">
                                      <label for="adminEmail">Email</label>
                                      <input name="adminEmail" type="text" class="form-control">
                                </div>

                                <div class="form-group bmd-form-group">
                                  <label for="adminPhone">Phone</label>
                                  <input name="adminPhone" type="text" class="form-control">
                                </div>

                                <div class="form-group bmd-form-group">
                                  <label for="accessLevel">Access Level</label>
                                    <select name="accessLevel" class="form-control" data-style="btn btn-link" id="exampleFormControlSelect1">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                </div>
    
                               <input class="btn btn-block btn-primary" type="submit" value="Create account">
                            </div>
                        </form>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>