<div class="text-center">
    <img class="illustration-size" src="<%= img %>" alt="box image illustration">
    <h2>Seems lonely in here.</h2>
    <h3>Click the "new admin" button to add a new admin.</h3>
</div>